.background {
    background-color: rgb (233, 76, 40);
}
ul li a {
    color:"black";
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

img {
    width: 100px;
    height: 50px;
}