.price:hover {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: large;
}

img {
    height: 200px;
}
.name:hover {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav {
    height:500px;
}