.price:hover {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: large;
}

img {
    height: 200px;
    width: auto;
}
.name:hover {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 124, 248);
}

