<form [formGroup]="Registration" (ngSubmit)="submit()" class="form-group container jestify-center w-25 border s-2 p-5 mt-5">
     <h3 class="text-center">Registration Form</h3>
    <li class="fa fa-user fa-5x mar"></li>
    <input type="text" formControlName="username"  class="form-control mb-3 mt-3 border " placeholder="username">
    <input type="text" formControlName="email" class="form-control mb-3  border " placeholder="email">
    <input type="password" formControlName="password" class="form-control mb-3  border " placeholder="password">
    <input type="password" formControlName="confirmpassword" class="form-control mb-3  border " placeholder=" confirm password">
    <button class="btn btn-success border">Register</button>    
</form>